h1 h2 h3{
    text-align: center;
}
div{
    outline: 1px solid red;
}
.section{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
    outline: 1px solid red;
}
.flexContainer{
   width: 33%;
    align-items: center;
    outline: 1px solid red;
}
img{
    width: 33%;

}
