h1{
    text-align: center;
}
div{
   
    text-align: center;
}
.section{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
    
}
.flexContainer{
    width: 33%;
    margin: 15px;
   
    align-items: center;
}
img{
    width: 100%;
    align-content: center;
}
body{
    background-color: #FEF9EF;
    font-family: Helvetica;
  }